.lineB {
    padding-right: 0.5em;
    font-weight: normal;
    line-height: 100%;
}
#retro_lb_02 {
  word-wrap: break-word;
}
#info {
  background-color: aliceblue;
}
#info2 {
  background-color: #FAEBD7;
}
#info3 {
  background-color: #F5F5DC;
}
.divinfo{
  padding:1%;
}
#cartolina1InfoFronte, #cartolina1InfoRetro{
  background-color: aliceblue;
}
#cartolina2InfoFronte, #cartolina2InfoRetro{
  background-color: #FAEBD7;
}
#cartolina3InfoFronte, #cartolina3InfoRetro{
  background-color: #F5F5DC;
}
.col{
    padding:1%;
}
.btn{
  margin:1%;
}


td{
  line-height: 200%;
}
td{
  vertical-align: baseline;
}
#retro1, #retroc2, #retroc3{
  display: none;
}

.re{
  margin-right: 100%;
  margin-bottom: 100%;
  position: absolute;

}
#fotoCart1R, #fotoCart2R, #fotoCart3R{
  position: absolute;

}
#retro11,#retro12,#retro13,#retro14,#retro15,#retro16,#retro17,#retro18,#retro19,#retro110,#retro111,#retro112,#retro21,#retro22,#retro23,#retro24,#retro25,#retro26,#retro27,#retro31,#retro32,#retro33,#retro34,#retro35,#retro36,#retro37,#retro38,#retro39,#retro310,#retro311,#retro312,#retro313,#retro314,
#retro315{
  position: absolute;
  background: inherit;
  fill: transparent;
  color: inherit;

}
#footer{
  background-color: #e9ecef;
}
.but{
  background-color: #e9ecef;
}
#fronte1, #frontec2, #frontec3{
  background-color: white;
}
#cartolina1InfoFronte, #cartolina2InfoFronte,#cartolina3InfoFronte,#cartolina1InfoRetro,#cartolina2InfoRetro,#cartolina3InfoRetro{
  border-radius: 0%;
  border-left:2px solid black;
}
#info,#info2,#info3{
  border-radius: 0%;
  border: 2px solid black;
  margin-bottom: 5%;
  margin-top: 5%;

}
.table_fronte{
  margin-top: 25%;
}
#fotoCart1,#fotoCart2,#fotoCart3{
  margin-left: auto;
  margin-right:auto;
  display: block;
}
#firstcontainer{
  padding-left: 0px;
  padding-right: 0px;
  display:block;
}
#primaCartolina{
  display:none;
}
#secondaCartolina{
  display: none;
}
#terzaCartolina{
  display: none;
}
